{% extends 'base.html.twig' %}

{% block title %}New Rue{% endblock %}

{% block body %}
    <h1>Create new Rue</h1>

    {{ include('rue_controller_r/_form.html.twig') }}

    <a href="{{ path('app_rue_controller_r_index') }}">back to list</a>
{% endblock %}
